<h2>Add class</h2>
<form id="regForm" method="post" action="/addclass">
	<div>
		<label>class title: </label>
		<input type="text" name="class_title">
	</div><br />
	<div>
		<label>class description: </label>
		<input type="text" name="class_description">
	</div><br />
	<div>
		<label>class instructor: </label>
		<textarea name="class_instructor"></textarea>
	</div><br />
	<div>
		<input type="submit" value="Add Lesson">
	</div>
</form>